<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart Page</title>

    <!-- Remix Icon -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.9.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="/css/mix.css">
    <link rel="stylesheet" href="/css/cart.css" />

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <script defer src="/js/common.js"></script>
  </head>

  <body>

<%- include('../partials/storePartials/nav') %>

    <main>

      <!-- ================= CART SECTION ================= -->

<% if(message){ %>

<style>
  body{
    overflow:hidden;
  }
</style>

<div class="order-popup" id="orderPopup">

  <div class="popup-box">

    <div class="success-animation">

      <div class="check-icon">
        <i class="ri-check-line"></i>
      </div>

    </div>

    <h2>Order Successful</h2>

    <p>
      Thanks for your order. We’re preparing it now.
    </p>

    <span class="redirect-text">
      Redirecting you to the tracking page...
    </span>

  </div>

</div>

<script>

  window.addEventListener("load", () => {

    setTimeout(() => {

      window.location.href = "/order-tracking";

    }, 3000);

  });

</script>

<% } %>

      <section class="cart-page">

        <!-- LEFT -->

        <div class="cart-left">

          <div class="cart-heading">
            <h1>Shopping Cart</h1> 
            <p><%= cartItems.length %> Items Added</p>
          </div>

          <!-- CART ITEM -->

          <% cartItems.forEach(item => { %>

          <div class="cart-item">

            <div class="cart-image">
              <img src="<%= item.image %>" alt="">
            </div>

            <div class="cart-details">

              <div class="top">

                <div>
                  <h2><%= item.title %></h2>
                  <p class="desc"> 
                    <%= item.description ? item.description.substring(0, 80) : "No description" %>...
                  </p> 
                </div>
                <a href="/cart/delete/<%= item.productId %>">
                  <i class="ri-delete-bin-6-line"></i>
                </a>

              </div>

              <div class="price-section">

                <div class="price">
                  <h3>₹<%= item.price %></h3>

                  <span>
                    ₹<%= item.price + 500 %>
                  </span>
                </div>

                <div class="quantity">

                  <a href="/cart/decrease/<%= item._id %>">
                    <i class="ri-subtract-line"></i>
                  </a>

                  <p><%= item.quantity %></p>

                  <a href="/cart/increase/<%= item._id %>">
                    <i class="ri-add-line"></i>
                  </a>

                </div>

              </div>

            </div>

          </div>

          <% }) %>

        </div>

        <!-- RIGHT -->

        <div class="cart-right">

          <div class="summary-box">

            <h2>Order Summary</h2>

            <div class="summary-item">
              <p>Subtotal</p>
              <span>₹<%= totalPrice %></span>
            </div>

            <div class="summary-item">
              <p>Delivery</p>
              <span>Free</span>
            </div>

            <div class="summary-item">
              <p>Discount</p>
              <span>- ₹300</span>
            </div>

            <div class="summary-item total">
              <p>Total</p>
              <span> ₹<%= totalPrice > 300 ? totalPrice - 300 : totalPrice %> </span>
            </div>

            <!-- ADDRESS -->

            <div class="address-box">

              <h3>Delivery Address</h3>

              <textarea required placeholder="Enter your address"></textarea>

            </div>

            <!-- PAYMENT -->

<form action="/place-order" method="POST">

  <div class="payment-method">

    <h3>Payment Method</h3>

    <label class="method active">

      <input 
        type="radio" 
        name="paymentMethod" 
        value="COD" 
        checked
      >

      <i class="ri-money-rupee-circle-line"></i>

      <p>Cash On Delivery</p>

    </label>

  </div>

  <button type="submit" class="place-order">
    <i class="ri-shopping-bag-3-line"></i>
    Place Order
  </button>

</form>

          </div>

        </div>

      </section>

    </main>

  </body>
</html>